@mixin transition ($time: 0.25) {
  transition: all #{$time}s ease;
}

@mixin pseudo($pos) {
  position: relative;
  &::#{$pos} {
    content: '';
    position: absolute;
    @content;
  }
}